* {
    --couleur-blanche:#e2e2e2;
    --couleur-rouge:#de0606;
    --couleur-bleue:#007fd7;
    --couleur-rouge-foncé:#ac0202;
    --couleur-grise:#3f3f3f;




}



@font-face {
    font-family: "Daily Bugle";
    src: url("./src/NexaHeavy.ttf");
}

/*réglage nav*/


/*réglage header*/


/*réglage main*/