* {
    --couleur-rouge:#de0606;
	--couleur-bleu:#007fd7;
	--couleur-gris:#3f3f3f;
	--couleur-rouge-foncée:#ac0202;
	--couleur-blanche:#e2e2e2;
    
    




}



@font-face {
    font-family: "police";
    src: url(./NexaHeavy.ttf);
}




/*Réglage nav*/








/*Réglage Header*/








/*Réglage Main*/
